.banner {
    background-image: url("../img/banner.png");
    height: 36rem;

    &__carousel-inner img {
        max-width: 100%;
        height: auto;
    }

    &__info {
        margin-top: 5rem;
        &--title-bordered {
            border: 3px solid $green;
            border-radius: 10px;
            padding: 10px;
            color: $green;
        }
        &__title {
            margin-top: 2rem;
            font-weight: bold;
        }

        &__ready-for-ship {
            border: 1px solid $green;
            padding: 8px;
            color: $green;
            font-weight: bold;

        }
        &__price {
            &__item {
                font-size: 4rem;
                font-weight: bold;
            }
            &--light {
                font-weight: lighter;
            }
        }

        &__add {
            &__button {
                padding: 0.5rem;
                font-weight: bold;
            }
        }
    }

    &__rate {
        &__icon {
            color: $yellow
        }
    }

    &__color {
        &__circle {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;

            &--yellow {
                background-color: $yellow;
            }

            &--pink {
                background-color: $pink;
            }

            &--green {
                background-color: $green;
            }
        }
    }
}