.historical-shopping {
  height: 300px;
  background-color: $gray; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, $light-gray, $white);

  &__title {
      color: $pink;
      font-weight: bold;
      margin-top: 2rem;
  }

  &__subtitle {
      color: $dark-gray;
      font-weight: 700;
  }

  &__ul{
    display: inline-flex;
    list-style: none;
    &__item{
        width: 15rem;
        border: 1px solid $pink;
        padding: 10px;
        background-color: $white;
    
        &:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        &:last-child {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &__link{
            color: black;
        }
    }
  }

  .active {
      background-color: $pink;
      a {
        color: $white !important;
      }
  }
}