.carousel {
    min-height: 100%;
}

// .carousel-inner {
//     margin-left: 11rem;
// }

.carousel-inner img {
    margin-left: 8rem;
    margin-top: 5rem;
}

.carousel-indicators {
    justify-content: right !important;
    left: unset;
    display: grid;
    top: 0;
    bottom: unset;
    margin-right: 50px;
    margin-top: 14rem;
    background-color: $white;
    border-radius: 1rem;
}

.carousel-indicators li {
    height: 30px;
    border-radius: 50%;
    background-color: $pink;
    text-indent: unset;
    line-height: 30px;
    text-align: center;
    color: $white;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: none;
}