.top-header {
  background-color: $gray;
  height: 2rem;

  &--font-size {
    font-size: 0.5rem;
  }

  &__menu {
    display: inline-flex;
    list-style: none;

    &__item a {
      margin-right: 1rem;
      color: #333;
    }
  }

  &__middle-span {
    color: $green;
  }
}

.sub-header {
  background-color: $gray;
  height: 3rem;
  text-align: center;

  &__menu {
    display: inline-flex;
    list-style: none;
    padding: 1rem;

    &__item a {
      margin-right: 5rem;
      color: #333;
      font-size: 0.7rem;
    }
  }

  &__middle-span {
    color: $green;
  }
}


.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
    top: 0px;
    display: block;
    height: 5.2rem;

    &__menu {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: #fff;
      clear: both;
      max-height: 0;
      transition: max-height .2s ease-out;

      &__item {
        display: block;
        padding: 20px 20px;
        text-decoration: none;
        color: black;
        font-size: 0.8rem;
        display: inline-block;
        flex-direction: column;
        align-items: center;

        &__icon {
          font-size: 1.5rem !important;
        }
      }
    }

    &__logo {
      display: block;
      float: left;
      font-size: 2em;
      padding: 10px 20px;
      text-decoration: none;

      &__image {
        max-width: 150px;
      }
    }

    &__menu-icon {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: 28px 20px;
      position: relative;
      user-select: none;

      &__navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;

        &::before {
          background: #333;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
          top: 5px;
        }

        &::after {
          background: #333;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
          top: -5px;
        }
      }
    }

    &__menu-btn {
      display: none;

      &:hover {
        background-color: #f4f4f4;
      }

      &:checked ~ .header__menu {
        max-height: 240px;
      }
    }
}
  
  // .header ul {
  //   margin: 0;
  //   padding: 0;
  //   list-style: none;
  //   overflow: hidden;
  //   background-color: #fff;
  // }
  
  // .header li a {
  //   display: block;
  //   padding: 20px 20px;
  //   border-right: 1px solid #f4f4f4;
  //   text-decoration: none;
  // }
  
  // .header li a:hover,
  // .header .menu-btn:hover {
  //   background-color: #f4f4f4;
  // }
  
  // .header .logo {
  //   display: block;
  //   float: left;
  //   font-size: 2em;
  //   padding: 10px 20px;
  //   text-decoration: none;
  // }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  // .header .menu-icon {
  //   cursor: pointer;
  //   display: inline-block;
  //   float: right;
  //   padding: 28px 20px;
  //   position: relative;
  //   user-select: none;
  // }
  
  // .header .menu-icon .navicon {
  //   background: #333;
  //   display: block;
  //   height: 2px;
  //   position: relative;
  //   transition: background .2s ease-out;
  //   width: 18px;
  // }
  
  // .header .menu-icon .navicon:before,
  // .header .menu-icon .navicon:after {
  //   background: #333;
  //   content: '';
  //   display: block;
  //   height: 100%;
  //   position: absolute;
  //   transition: all .2s ease-out;
  //   width: 100%;
  // }
  
  // .header .menu-icon .navicon:before {
  //   top: 5px;
  // }
  
  // .header .menu-icon .navicon:after {
  //   top: -5px;
  // }
  
  /* menu btn */
  
  // .header .menu-btn {
  //   display: none;
  // }
  
  // .header .header__menu-btn:checked ~ .header__menu {
  //   max-height: 240px;
  // }
  
  .header .header__menu-btn:checked ~ .header__menu-icon .header__menu-icon__navicon {
    background: transparent;
  }
  
  .header .header__menu-btn:checked ~ .header__menu-icon .header__menu-icon__navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .header__menu-btn:checked ~ .header__menu-icon .header__menu-icon__navicon:after {
    transform: rotate(45deg);
  }
  
  .header .header__menu-btn:checked ~ .header__menu-icon:not(.steps) .header__menu-icon__navicon:before,
  .header .header__menu-btn:checked ~ .header__menu-icon:not(.steps) .header__menu-icon__navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header {
      &__menu{
        clear: none;
        float: right;
        max-height: none;

        &__item {
          display: flex !important;
        }
      }
    }
    .header {
      &__menu-icon{
        display: none;
      }
    }
  }